<mat-card>
  <mat-card-content>
    <form [formGroup]="formStarShip">
      <h1>Nave informações</h1>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutWrap>
        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <mat-select formControlName="name" #starShipSelect (selectionChange)="setSelectedValues($event.value)">
              <mat-option *ngFor="let starShip of starShips" [value]="starShip">
                {{ starShip.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="model" type="text" readonly>
          </mat-form-field>
        </section>

        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Passageiros</mat-label>
            <input matInput formControlName="passengers" type="text" readonly>
          </mat-form-field>
        </section>

        <section fxFlex=25% fxLayoutAlign="start center" matTooltip="Unidade padrão de distância.">
          <mat-form-field appearance="outline">
            <mat-label>MGLT</mat-label>
            <input matInput formControlName="MGLT" type="text" readonly>
          </mat-form-field>
        </section>
      </div>

      <h1>Viagem estimativas</h1>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutWrap>
        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Distância da viagem(MGLT)</mat-label>
            <input matInput formControlName="distance" type="number">
          </mat-form-field>
        </section>

        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Paradas da viagem</mat-label>
            <input matInput formControlName="stops" type="number" readonly>
          </mat-form-field>
        </section>

        <section fxFlex=25% fxLayoutAlign="start center">
          <mat-form-field appearance="outline">
            <mat-label>Horas de viagem(Aproximadamente)</mat-label>
            <input matInput formControlName="time" type="number" readonly>
          </mat-form-field>
        </section>
      </div>

      <mat-card-actions align="center">
        <button mat-raised-button color="accent" (click)="submit()">Calcular estimativas</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>